# rename to .env

connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=

APP_BASE_URL=

DEBUG=agents:*:error,agents:*:info,agents:*:warn