# rename to .env

CONNECTIONS__SERVICECONNECTION__SETTINGS__CLIENTID=
CONNECTIONS__SERVICECONNECTION__SETTINGS__CLIENTSECRET=
CONNECTIONS__SERVICECONNECTION__SETTINGS__TENANTID=

CONNECTIONSMAP__0__CONNECTION=SERVICECONNECTION
CONNECTIONSMAP__0__SERVICEURL=*

agentic_type=agentic
agentic_scopes=https://graph.microsoft.com/.default
